authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = edaljenp01.elan.elantecs.com
DNS.2 = edaljenkins.elan.elantecs.com
DNS.3 = edalnexp01.elan.elantecs.com
DNS.4 = edalnexus.elan.elantecs.com
