global
        daemon
        group haproxy
        log /dev/log local0
        maxconn 16000
        pidfile /var/run/haproxy.pid
        stats socket /var/lib/haproxy/stats
        tune.bufsize 32768
        tune.maxrewrite 2048
        tune.ssl.default-dh-param 1024
        user haproxy

defaults
        log     global
        mode    tcp
        maxconn 1020
        timeout connect    10s
        timeout client     10s
        timeout server     10s

frontend percona-vip
        bind {{ haproxy_bind_address }}:3306
        default_backend percona

backend percona
    balance roundrobin
    option httpchk
{% for balancing_server in haproxy_percona_servers %}
    server {{ balancing_server.name }} {{ balancing_server.ip }}:3306 check port 9200 inter 1000 rise 5 fall 1
{% endfor %}

frontend jenkins-slave-frontend
        bind {{ haproxy_bind_address }}:10080
        option	tcplog
        use_backend jenkins-slave

frontend http-frontend
    bind {{ haproxy_bind_address }}:80
    mode http
    redirect scheme https if !{ ssl_fc }

frontend etcd-frontend
    bind {{ haproxy_bind_address }}:2379
    mode tcp
    use_backend etcd

frontend ldapsv-tls-frontend
    bind {{ haproxy_bind_address }}:636
    mode tcp
    use_backend ldapsv-tls

frontend ldapsv-frontend
    bind {{ haproxy_bind_address }}:389
    mode tcp
    use_backend ldapsv

frontend https-frontend
	bind {{ haproxy_bind_address }}:443 ssl crt /etc/haproxy/certs.d/default.pem
        mode http
        reqadd X-Forwarded-Proto:\ https
        acl jenkins hdr(host) -i {{ haproxy_jenkins_host }}
        acl nexus hdr(host) -i {{ haproxy_nexus_host }}
        acl tomcat hdr(host) -i {{ haproxy_tomcat_host }}
        acl sonar hdr(host) -i {{ haproxy_sonar_host }}
        acl gitlab hdr(host) -i {{ haproxy_gitlab_host }}
        acl kibana hdr(host) -i {{ haproxy_kibana_host }}
        use_backend jenkins if jenkins
        use_backend nexus if nexus
        use_backend tomcat if tomcat
        use_backend sonar if sonar
        use_backend gitlab if gitlab
        use_backend kibana if kibana
        
backend jenkins
    balance roundrobin
    mode http
    option httpchk HEAD /login HTTP/1.1\r\nHost:\ {{ haproxy_jenkins_host }}
{% for balancing_server in haproxy_jenkins_servers %}
    server {{ balancing_server.name }} {{ balancing_server.ip }}:8080 check
{% endfor %}

backend jenkins-slave
    balance roundrobin
    option httpchk HEAD /login
    option tcplog
{% for balancing_server in haproxy_jenkins_servers %}
    server {{ balancing_server.name }} {{ balancing_server.ip }}:10080 check port 8080
{% endfor %}

backend nexus
    balance roundrobin
    mode http
    option httpchk HEAD / HTTP/1.1\r\nHost:\ {{ haproxy_nexus_host }}
{% for balancing_server in haproxy_nexus_servers %}
    server {{ balancing_server.name }} {{ balancing_server.ip }}:8081 check
{% endfor %}

backend tomcat
    balance roundrobin
    mode http
    option httpchk HEAD / HTTP/1.1\r\nHost:\ {{ haproxy_tomcat_host }}
{% for balancing_server in haproxy_tomcat_servers %}
    server {{ balancing_server.name }} {{ balancing_server.ip }}:8080 check
{% endfor %}

backend sonar
    balance roundrobin
    mode http
    option httpchk HEAD / HTTP/1.1\r\nHost:\ {{ haproxy_sonar_host }}
{% for balancing_server in haproxy_sonar_servers %}
    server {{ balancing_server.name }} {{ balancing_server.ip }}:9000 check
{% endfor %}

backend etcd
    balance roundrobin
    mode tcp
    option tcplog
{% for balancing_server in haproxy_etcd_servers %}
    server {{ balancing_server.name }} {{ balancing_server.ip }}:2379 check
{% endfor %}

backend gitlab
    balance roundrobin
    mode http
    option httpchk HEAD / HTTP/1.1\r\nHost:\ {{ haproxy_gitlab_host }}
{% for balancing_server in haproxy_gitlab_servers %}
    server {{ balancing_server.name }} {{ balancing_server.ip }}:80 check
{% endfor %}

backend ldapsv-tls
    balance roundrobin
    mode tcp
    option tcplog
{% for balancing_server in haproxy_ldapsv_servers %}
    server {{ balancing_server.name }} {{ balancing_server.ip }}:636 check
{% endfor %}

backend ldapsv
    balance roundrobin
    mode tcp
    option tcplog
{% for balancing_server in haproxy_ldapsv_servers %}
    server {{ balancing_server.name }} {{ balancing_server.ip }}:389 check
{% endfor %}

backend kibana
    balance roundrobin
    mode http
    option httpchk HEAD / HTTP/1.1\r\nHost:\ {{ haproxy_kibana_host }}
{% for balancing_server in haproxy_kibana_servers %}
    server {{ balancing_server.name }} {{ balancing_server.ip }}:5601 check
{% endfor %}
