global
        daemon
        group haproxy
        log /dev/log local0
        maxconn 16000
        pidfile /var/run/haproxy.pid
        stats socket /var/lib/haproxy/stats
        tune.bufsize 32768
        tune.maxrewrite 2048
        tune.ssl.default-dh-param 1024
        user haproxy

defaults
        mode    tcp
        maxconn 1020
        timeout connect    10s
        timeout client     10s
        timeout server     10s

frontend percona-vip
        bind {{ haproxy_bind_address }}:3306
        default_backend percona

backend percona
    balance roundrobin
    option httpchk
{% for balancing_server in haproxy_percona_servers %}
    server {{ balancing_server.name }} {{ balancing_server.ip }}:3306 check port 9200 inter 1000 rise 5 fall 1
{% endfor %}

frontend http-frontend
    bind {{ haproxy_bind_address }}:80
    mode http
    redirect scheme https if !{ ssl_fc }

frontend https-frontend
	bind {{ haproxy_bind_address }}:443 ssl crt /etc/haproxy/certs.d/default.pem
        mode http
        acl jenkins hdr(host) -i {{ haproxy_jenkins_host }}
        acl nexus hdr(host) -i {{ haproxy_nexus_host }}
        use_backend jenkins if jenkins
        use_backend nexus if nexus
        reqadd X-Forwarded-Proto:\ https
        
backend jenkins
    balance roundrobin
    mode http
    option httpchk HEAD /login HTTP/1.1\r\nHost:\ {{ haproxy_jenkins_host }}
{% for balancing_server in haproxy_jenkins_servers %}
    server {{ balancing_server.name }} {{ balancing_server.ip }}:8080 check
{% endfor %}

backend nexus
    balance roundrobin
    mode http
    option httpchk HEAD / HTTP/1.1\r\nHost:\ {{ haproxy_nexus_host }}
{% for balancing_server in haproxy_nexus_servers %}
    server {{ balancing_server.name }} {{ balancing_server.ip }}:8081 check
{% endfor %}

backend tomcat
    balance roundrobin
    mode http
    option httpchk HEAD / HTTP/1.1\r\nHost:\ {{ haproxy_tomcat_host }}
{% for balancing_server in haproxy_tomcat_servers %}
    server {{ balancing_server.name }} {{ balancing_server.ip }}:8080 check
{% endfor %}
