#!/bin/bash
 
export TERM=xterm-color
logfile=/var/log/start_nagios.log
exec >> $logfile
exec 2>&1
# Define an array of processes to be checked.
# If properly quoted, these may contain spaces
 
check_process=("httpd" "nagios")
 
for p in "${check_process[@]}"; do
 
   if (systemctl -q is-active $p)
    then
      echo -e "\n$(tput setaf 3)***$p is already running***$(tput setaf 9)\n"
   else
      date
      echo -e "\n$(tput setaf 1)***Starting $p***$(tput setaf 9)\n"
      systemctl start $p
   fi
done
exit 0
