<controller>
   domain = {{ domain }} 
   hub = {{ hub }}
   hubip = {{ hub_ip }} 
   hubrobotname = {{ hub_robot_name }}
   hubport = {{ hub_port }}
   access_0 = 0
   access_1 = 1
   access_2 = 2
   access_3 = 3
   access_4 = 4
   ssl_mode = 1
   ssl_cipher = DEFAULT
</controller>
