{# List of ElasticSearch Cluster Members #}
{% set esh_cluster_members = [] -%}
{%- for node in groups['elan_esh'] %}
  {%- set _ = esh_cluster_members.append('http://'+hostvars[node].ansible_fqdn+':'+esh_port) -%}
{% endfor -%}
# Beats -> Logstash -> Elasticsearch pipeline.
input {
  beats {
    port => {{ lsh_port }}
  }
}

output {
  elasticsearch {
    hosts => ["{{ esh_cluster_members | join('\", \"') }}"]
    index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
    #user => "elastic"
    #password => "changeme"
  }
}
